<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Fatec Sorocaba</title>
</head>
<body>
    <h1>Historia da Fatec Sorocaba</h1>
    <p>
        Foi a primeira escola pública de nível superior em Sorocaba.
        O primeiro dia letivo na Fatec Sorocaba ocorreu no dia 07/06/1971,
        nas instalações da atual Etec Rubens de Faria e Souza com 66 alunos que iniciavam
        seus estudos no então Curso Técnico Superior de Oficinas,
        atualmente Tecnologia em Fabricação Mecânica.
    </p>
</body>
</html>