<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professores da Fatec Sorocaba</title>
</head>
<body>
    <h1>Professores da Ftec sorocaba:</h1>
    <span>Dimas</span>
    <span>Denilce</span>
    <span>Jeff</span>
</body>
</html>